.bg-1{background-color: #f2f2f2;}
.bg-2{background-color: #fbfbfd;}
.bg-ag{background-color: #fff;}
.bg-qara{background-color: #000;}
.txt-ag{color: #fff;}
.txt-qara{color: #000;}
.fs-75{font-size: .75rem;}
.hidden-mb{display: none;}
.hidden-d{display: block;}
.txt-center{text-align: center;}

*{font-family: Arial, Helvetica, sans-serif;}
.container { 
    max-width: 1000px; 
    margin: 0 auto; 
} 
.container-2 { 
    max-width: 1200px; 
    margin: 0 auto; 
} 
#logo{width: 20px;}
#navbar-top li{
    color: #000000cc;
    padding: 20px 0;
}
.nav-icons{display: flex;}
.nav-icons a{margin:0 10px;}

.sidebar {
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
}
#navbar-top li {
    padding-left: 20px;
    font-size: 1.2rem;
    overflow: hidden;
    font-weight: 400;
}
.closed {
    height: 50px;
    font-size: 20px;
    text-align: right;
    padding: 20px;
    i {cursor: pointer;}
}
#bars {
    cursor: pointer;
    display: none;
}
#hamburger{cursor: pointer;}
#bars:checked ~ .sidebar {left: 0 !important;}
#bars:checked ~ #navbar-top {
    height: 100px;
    visibility: initial;
    overflow: auto;
}
.mobile-hamburger{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
#navbar-bottom{display: flex;}

#models{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    overflow-x: scroll;
    scrollbar-width: none;
}
.arrow button{
    height: 100%;
    width: 30px;
    border-inline: solid 1px #d6d6d6;
    cursor: pointer;
}
.model{
    padding: 10px; 
    text-align: center; 
    width: 150px;
}
.model > img{
    width: 50px;
    height:50px;
}
.new-txt{
    color: #b52929; 
    padding: 10px 0;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}

#shop{text-align: center;}
.linkto{
    color: #2997ff;
    padding: 20px 0; 
    display: block;
}
#shop p{
    padding-block: 20px 5px; 
    display: block;
}

#titanium, #newphoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#titanium h5{
    color: #8B887EFF;
    font-size: 1.2rem;
    font-weight: 400;
}
#titanium-h1{
    background: url('../img/headline_titanium.jpg') center/contain no-repeat;
    height:40px;
    width: 100%;
    margin: 10px 0;
}
#titanium p, #power p{
    padding: 20px 0;
    text-align: center;
}
#titanium-img{
    background: url('../img/titanium.jpg') center/contain no-repeat;
    height: 50vh;
    width: 50vw;
}

#newphoria h2{
    font-size: 2rem;
    font-weight: 400;
    padding: 20px 0;
}
#newphoria h5{
    font-size: 1.6rem;
    font-weight: 400;
}
.buy-btn{
    background-color: #0071e3;
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 10px 0;
}
#newphoria-img{
    background: url('../img/newphoria.jpg') center/cover no-repeat;
    height: 20vh;
    width: 100%;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#power h5,#tour-top h5{
    font-size: 1.2rem;
    padding: 20px 0;
}
#power h1{
    font-size: 2rem;
    color: #29318f;
}
.power-bottom{
    background: url('../img/power.png') center/contain no-repeat;
    height: 50vh;
    width: 50vw;
}
.power-top{width: 50vw;}

#tour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tour-top{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#tour-top h1{font-size: 2rem;}
#tour-bottom{
    background: url('../img/tour.jpg') center/cover;
    height: 50vh;
    width: 100%;
}
#which{
    text-align: center;
}
#which h1{
    font-size: 2rem ;
    font-weight: 400;
    margin: 50px 0;
}
#iphone-models{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 auto;
}
.iphone{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.iphone-img{
    height: 220px;
    width: 160px;
}
.colors1{
    height: 20px;
    width: 90px;
    margin: 20px 0;
}
.colors2{
    height: 40px;
    width: 90px;
    margin-top: 20px;
}
.colors3{
    height: 20px;
    width: 80px;
    margin: 20px 0;
}

.info2 .img{
    background: url('../img/icon1.png') center/contain no-repeat;
    height: 41px;
    width: 55px;
    margin: auto;
}
.info3 .img{
    background: url('../img/icon2.png') center/contain no-repeat;
    height: 38px;
    width: 38px;
    margin: auto;
}
.info4 .img{
    background: url('../img/icon3.png') center/contain no-repeat;
    height: 38px;
    width: 38px;
    margin: auto;
}
.info6 .img{
    background: url('../img/icon4.png') center/contain no-repeat;
    height: 38px;
    width: 38px;
    margin: auto;
}
.info7 .img{
    background: url('../img/icon5.png') center/contain no-repeat;
    height: 38px;
    width: 38px;
    margin: auto;
}
.info8 .img{
    background: url('../img/icon6.png') center/contain no-repeat;
    height: 38px;
    width: 38px;
    margin: auto;
}
.info9 .img{
    background: url('../img/icon7.png') center/contain no-repeat;
    height: 38px;
    width: 38px;
    margin: auto;
}
hr{
    height: 1px;
    width: 100%; 
    background-color: #d6d6d6;
    margin-bottom: 20px;
}
.info{
    text-align: center;
    margin: 20px;
}
.info p{
    font-size: .8rem;
    line-height: 1.5;
}
.save-card .img-1{
    background: url('../img/save1.jpg') center/contain no-repeat;
    height: 30vh;
}
.save-card .img-2{
    background: url('../img/save2.jpg') center/contain no-repeat;
    height: 20vh;
}
.save-card .img-3{
    background: url('../img/save3.jpg') center/contain no-repeat;
    height: 30vh;
}
.card{
    margin: 10px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
.save-card{ 
    height: 400px;
    flex: 1 1 auto;
}
.cards{
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#save h1{
    padding: 30px 5px;
    font-weight: 400;
    text-align: center;
}
#save h3{font-size: 1.5rem;}
.best-card h2{
    padding: 30px 5px;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}
.best-img{
    background: url('../img/phones1.jpg') center/cover no-repeat ;
    height: 25vh;
}
#an-iphone h1{
    font-size:1.8rem ;
    font-weight: 400;
    padding: 20px;
    text-align: center;
}
.best-card .img3{
    background: url('../img/accessories3.jpg') 100% -1px / contain no-repeat;
    height: 20vh;
    width: 100%;
}
.best-card .img4{
    background: url('../img/ios17.jpg') 40% -105px/cover no-repeat ;
    height: 70vh;
    
}
#ios{
    position: relative;
}
.ios-txt{
    position: static;
    left: 40%;
}

.accessories-card .img1{
    background: url('../img/accessories1.jpg') center/contain no-repeat;
    height: 20vh;
    width: 50%;
}
.accessories-card .img2{
    background: url('../img/accessories2.jpg') center/cover no-repeat;
    height: 30vh;
    width: 100%;
}
.section-header{
    padding: 20px;
    font-size: 1.2rem;
    margin: auto;
    text-align: center;
}
.accessories{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
}
.accessories p{
    padding: 20px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.box p{
    line-height: 1.5;
}
.box h5{
    font-size: 1.3rem;
    padding: 10px;
}
.save-card h3{font-weight: 400; padding: 30px;}
.save-card p{ padding: 20px;}
#save h1{font-weight: 2rem;}
#an-iphone .img1{
    background: url('../img/switching_to_iphone.jpg') center/cover no-repeat;
    height: 50vh;
}
#an-iphone .img2{
    background: url('../img/privacy.jpg') center/cover no-repeat;
    height: 50vh;
}
#tv-music .card{
    width: 50%;
    padding: 0;
    height: 80vh;
}
.tv-img{
    background: url('../img/tv.png') center/cover no-repeat;
    height: 50vh;
    width: 100%;
}
.music-img{
    background: url('../img/684x384\ \(9\).jpg') center/cover no-repeat;
    height: 40vh;
    width: 100%;
}
.music-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.music-header i{
    font-size: 2.2rem;
}
@media only screen and (min-width: 768px) {
    #logo{width: 16px;}
    .hidden-d{display: none;}
    .container{padding: 0 20px 15px 20px;}
    .hidden-mb{display: initial;}
    #navbar-bottom{   
        flex-wrap: wrap; 
        justify-content: center;
    }
    #models{overflow-x: hidden;}
    .model{width: initial;}
    .sidebar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        max-width: initial;
        position: static;
        height: initial;
        transition: none;
    }
    #navbar-top li{
        font-size: .75rem; 
        font-weight: 600;
    }
    .sidebar > *{flex: auto;}
    #shop p, #shop a{font-size: 1.3rem;}
    #titanium{padding: 30px 0;}
    #titanium-h1{margin: 20px 0;}
    #titanium p, #power p{
        padding: 10px 0; 
        text-align: center; 
        font-size: 1.3rem;
    }
    #titanium-img{
        transform: rotate(-90deg) scale(1.5) ;
        height: 50vh;
    }
    #newphoria-img{height: 55vh;}
    #newphoria h2{
        font-size: 3rem; 
        font-weight: 600;
    }
    .row{
        flex-direction: row;
    }
    #power h1{
        font-size: 2.8rem;
        line-height: 1.2;
    }
    .power-bottom{
        background: url('../img/power.png') center/contain no-repeat;
        height: 100vh;
    }
    #tour{position: relative;}
    #tour-top{
        position: absolute;
        top: 30%; 
        left: 15%; 
        color: #fff; 
        align-items: flex-start;
    }
    #tour-top h1{font-weight: 400;}
    #tour-top .linkto{
        background-color: #fff; 
        border-radius: 30px;  
        padding: 10px 5px; 
        color: #000; 
        margin: 10px 0; 
    }
    #tour-bottom{
        height: 97vh;
        width: 96vw;
        margin: 40px 0;
        border-radius: 30px;
    }
    .iphone{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 20%;
    }
    .save-card{ 
        height: 400px;
        width: 350px;
    }
    .section-header{
        padding: 30px;
        width: 50%;
        font-size: 2rem;}
    .best-txt{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .best-img{
        background-position: top;
        height: 220px;
    }
    .accessories{
        flex-direction: row;
        height: 80vh;
    }
    .card-reverse{
        flex-direction: row-reverse;
    }
    .accessories-card .img1{
        height: 70vh;
    }
    .accessories-card .img2{
        height: 80vh;
        width: 50%;
    }
    .best-card .img3 {
        height: 60vh;
        background-position: center;
    }
    .save-card h3{font-weight: 600;}
    #save h1{
        font-size: 3rem;
    }
    
    .best-card .img4{
        background: url('../img/ios17.jpg') 40% -105px/cover no-repeat ;
        height: 80vh;
    }
    #ios{
        position: relative;
    }
    .ios-txt{
        position: absolute;
        left: 40%;
        top: 20%;
    }
    #an-iphone h1, #more h1{
        font-size: 3rem ;
        font-weight: 600;
        padding: 20px;
        text-align: center;
    }
}