.bg-1{background-color: #f2f2f2;}
.bg-2{background-color: #fbfbfd;}
.bg-3{background-color: #f9f9f9;}
.bg-ag{background-color: #fff;}
.bg-qara{background-color: #000;}
.txt-ag{color: #fff;}
.txt-qara{color: #000;}
.txt-boz{color: #333;}
.txt-light{font-weight: 400;}
.txt-bold{font-weight: 600;}
.fs-75{font-size: .75rem;}
.hidden-mb{display: none;}
.hidden-d{display: inline-block;}
.txt-center{text-align: center;}

*{font-family: Arial, Helvetica, sans-serif;}
.container { 
    max-width: 1000px; 
    margin: 0 auto; 
} 
.container-2 { 
    max-width: 1200px; 
    margin: 0 auto; 
} 
#logo{width: 20px;}
#navbar-top li{
    color: #000000cc;
    padding: 20px 0;
}
.nav-icons{display: flex;}
.nav-icons a{margin:0 10px;}

.sidebar {
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
}
#navbar-top li {
    padding-left: 20px;
    font-size: 1.2rem;
    overflow: hidden;
}
.closed {
    height: 50px;
    font-size: 20px;
    text-align: right;
    padding: 20px;
    i {cursor: pointer;}
}
#bars {
    cursor: pointer;
    display: none;
}
#hamburger{cursor: pointer;}
#bars:checked ~ .sidebar {left: 0 !important;}
#bars:checked ~ #navbar-top {
    height: 100px;
    visibility: initial;
    overflow: auto;
}
.mobile-hamburger{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
#navbar-bottom{display: flex;}

#models{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#models::-webkit-scrollbar{
    display: none;
}
.arrow button{
    height: 100%;
    width: 30px;
    border-inline: solid 1px #d6d6d6;
    cursor: pointer;
}
.model{
    padding: 10px; 
    text-align: center; 
    width: 150px;
}
.model > img{
    width: 40px;
    height:50px;
}
.new-txt{
    color: #b52929; 
    padding: 10px 0;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}

#shop-phone p{
    padding-block: 20px 5px; 
    display: block;
}
.linkto{
    color: #2997ff;
    padding: 20px 0; 
    display: block;
}

#titanium, #newphoria, #tour, .accessories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#titanium h5{
    color: #8B887EFF;
    font-size: 1.2rem;
}
#titanium-header{
    background: url('../img/headline_titanium.jpg') center/contain no-repeat;
    height:50px;
    width: 100%;
    margin: 10px 0;
}
#titanium-img{
    background: url('../img/titanium.jpg') center/contain no-repeat;
    height: 50vh;
    width: 50vw;
}
.card h2{
    font-size: 2rem;
    padding: 20px 0;
}
.card h5{
    font-size: 1.6rem;
}
.card h6{
    font-size: 1.2rem;
    padding: 20px 0;
}
.card p{
    padding: 20px 0;
    text-align: center;
}
.buy-btn{
    background-color: #0071e3;
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 10px 0;
}

#newphoria{padding-top: 20px;}
#newphoria .card{padding:0; margin: 0;}
#newphoria-img{
    background: url('../img/newphoria.jpg') center/cover no-repeat;
    height: 20vh;
    width: 100%;
}
.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.power-top h1{
    font-size: 2rem;
    color: #29318f;
}
.power-bottom{
    background: url('../img/power.png') center/contain no-repeat;
    height: 50vh;
    width: 50vw;
}
.power-top{width: 50vw;}

#tour-top{height: 40vh;}
#tour .card h1{
    width: 60%;
    text-align: center;
    padding: 0;
    font-size: 2rem;
    line-height: 2.8rem;
}
#tour-bottom{
    background: url('../img/tour.jpg') center/cover;
    height: 50vh;
    width: 100%;
}

#which h1{
    font-size: 2rem ;
    font-weight: 400;
    margin: 50px 0;
    padding: 20px 0;
}
#iphone-models{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.iphone{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.iphone-img{
    height: 170px;
    width: 120px;
}
.colors1{
    height: 20px;
    width: 90px;
    margin: 20px 0;
}
.colors2{
    height: 40px;
    width: 90px;
    margin-top: 20px;
}
.colors3{
    height: 20px;
    width: 80px;
    margin: 20px 0;
}
.iphone p{
    line-height: 1.6;
}
.iphone p,
.iphone h4{
    padding: 10px 0;
}
.info2 .img{
    background: url('../img/icon1.png') center/contain no-repeat;
    height: 41px;
    width: 55px;
    margin: auto;
}
.info3 .img{
    background: url('../img/icon2.png') center/contain no-repeat;
    height: 38px;
    width: 38px;
    margin: auto;
}
.info4 .img{
    background: url('../img/icon3.png') center/contain no-repeat;
    height: 38px;
    width: 38px;
    margin: auto;
}
.info6 .img{
    background: url('../img/icon4.png') center/contain no-repeat;
    height: 38px;
    width: 38px;
    margin: auto;
}
.info7 .img{
    background: url('../img/icon5.png') center/contain no-repeat;
    height: 38px;
    width: 38px;
    margin: auto;
}
.info8 .img{
    background: url('../img/icon6.png') center/contain no-repeat;
    height: 38px;
    width: 38px;
    margin: auto;
}
.info9 .img{
    background: url('../img/icon7.png') center/contain no-repeat;
    height: 38px;
    width: 38px;
    margin: auto;
}
hr{
    height: 1px;
    width: 90%; 
    background-color: #d6d6d6;
    margin-bottom: 20px;
}
.info{
    text-align: center;
    margin: 20px;
}
.info p{
    font-size: .8rem;
    line-height: 1.5;
}
.save-card .img-1{
    background: url('../img/save1.jpg') center/contain no-repeat;
    height: 20vh;
    width: 100%;
}
.save-card .img-2{
    background: url('../img/save2.jpg') center/contain no-repeat;
    height: 20vh;
    width: 100%;
}
.save-card .img-3{
    background: url('../img/save3.jpg') center/contain no-repeat;
    height: 20vh;
    width: 100%;
}
.card, .card-2{
    margin: 10px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
.card-3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
.cards{
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#save h1{
    padding: 30px 5px;
}
#save h3{font-size: 1.5rem;}
.save-card h3{font-weight: 400; padding: 30px;}
.save-card p{ padding: 20px;}
#save h1{font-weight: 2rem;}

.best-card h2{
    padding: 30px 5px;
    font-size: 2rem;
    text-align: center;
}
#best{
    position: relative;
}

.best-img{
    background: url('../img/phones1.jpg') center/ cover no-repeat;
    height: 25vh;
    width: 100%;
}

.accessories-card .accessories1{
    background: url('../img/accessories1.jpg') center/contain no-repeat;
    height: 20vh;
    width: 40%;
}
.accessories-card .accessories2{
    background: url('../img/accessories2.jpg') center/cover no-repeat;
    height: 30vh;
    width: 100%;
}
.section-header{
    padding: 30px 0;
    width: 100%;
    font-size: 1.8rem;
    margin: auto;
}
.accessories{
    min-height: 50vh;
    margin: 20px;
    padding: 20px;
}
.accessories h2{font-size: 2rem;}
.accessories p{padding: 20px; width: 70%; margin: auto;}
.links{display: flex; justify-content: center; gap: 10px; z-index: 2;}
.airpod {
    background: url('../img/accessories3.jpg') 100% -1px/contain no-repeat ;
    height: 20vh;
    width: 100%;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex: 1 ;
}
.box p{
    line-height: 1.5;
}
.box h5{
    font-size: 1.3rem;
    padding: 10px;
}

.ios-img {
    background: url('../img/ios17.jpg') 40% -105px / cover no-repeat;
    height: 80vh;
    width: 100%;
}
#an-iphone .card-2{
    padding: 0;
}
#an-iphone h1{
    font-size:1.8rem ;
    font-weight: 400;
    padding: 20px;
    text-align: center;
}
.row-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    text-align: center;
}
.switching-img{
    background: url('../img/switching_to_iphone.jpg') center/cover no-repeat;
    height: 50vh;
    width: 100%;
}
.privacy-img{
    background: url('../img/privacy.jpg') center/cover no-repeat;
    height: 50vh;
    width: 100%;
}
#swiching{flex: 1;}
#privacy{flex: 1;}

.one-logo{
    background: url('../img/apple_one__cq8ojsqxitea_large.jpg') center/ contain no-repeat;
    height: 40px;
}
.more-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: 60vh;
}
#more h1, #research h1{
    padding: 30px;
    text-align: center;
    font-size: 1.8rem;
}
#more p, #research p{
    padding: 20px;
}
.bundle{
    background: url('../img/bundle__dlqe12erfzsm_large.jpg') center/ contain no-repeat;
    width: 90%;
    height: 40vh;
}
#tv-music .card-2{
    width: auto;
    padding: 0;
    height: 70vh;
    justify-content: flex-start;
    margin-block: 20px;
    position: relative;
    gap: 20px;
}
#tv-music p{z-index: 2;}
#tv-music img{margin: 20px;}
.tv-img{
    background: url('../img/tv.png') center/cover no-repeat;
    height: 50vh;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.fitness-img{
    background: url('../img/update_promo_apple_fitness_iphone__762tbwjyo5ee_small.jpg') center/cover no-repeat;
    height: 50vh;
    position: absolute;
    bottom: 20px;
    width: 80%;
}
.news-img{
    background: url('../img/apple_news_plus_tile_update_x__crr8y9ssslqq_small.jpg') center/cover no-repeat;
    height: 50vh;
    position: absolute;
    bottom: 20px;
    width: 80%;
}
.music-img{
    background: url('../img/684x384\ \(9\).jpg') center/cover no-repeat;
    height: 45vh;
    width: 100%;
}
.arcade-img{
    background: url('../img/Screenshot\ 2024-03-04\ 184214.png') top/ cover no-repeat;
    height: 50vh;
    width: 100%;
}
.gift-img{
    background: url('../img/giftcard_tile__dartrujkircm_small_2x.jpg') top/ cover no-repeat;
    height: 50vh;
    width: 100%;
}
#music-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 20px;
}
#music-header i{
    font-size: 2.5rem;
}
.research-img{
    background: url('../img/apple-research__czkoifogwkeq_small.jpg') center/ contain no-repeat;
    width: 90%;
    height: 40vh;
}
footer{
    padding: 20px;
}
#footer-top p, ul li, li{
    line-height: 1.8;
    font-size: .8rem;
    color: #8d8d8d;
    text-align: justify;
}
#footer-top li{
    margin-left: 20px;
}
footer hr{
    width: 100%;
    margin: 20px auto;
}
.footer-logo{display: flex; gap: 25px; align-items: center; margin: 20px 0;}
.footer-logo .fa-apple{font-size: 1.5rem;}

input {display: none;}

#footer-accardion label {
    display: block;
    padding: 20px 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    margin: 5px 0;
    color: #333;
}
.accardion-body{
    max-height: 0;
    overflow: hidden;
    transition: all .3s;
    border-top: none;
    padding: 0 10px;
}

input:checked ~ .accardion-body:first-of-type {
    max-height: 500px;
    padding: 10px;
}
#footer-bottom{
    color: #8d8d8d;
    font-size: .8rem;
}
#end{
    display: flex;
    justify-content: space-between;
}
footer p , li{overflow-wrap: break-word}
span{
    color: #0071e3;
    text-decoration: underline;
}
@media only screen and (min-width: 768px) {
    #logo{width: 16px;}
    .hidden-d{display: none;}
    .container{padding: 0 20px 15px 20px;}
    .hidden-mb{display: initial;}
    #navbar-bottom{   
        flex-wrap: wrap; 
        justify-content: center;
    }
    #models{overflow-x: hidden;}
    .model{width: initial;}
    .sidebar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        max-width: initial;
        position: static;
        height: initial;
        transition: none;
    }
    #navbar-top li{
        font-size: .75rem; 
        font-weight: 600;
    }
    .sidebar > *{flex: auto;}
    #shop-phone p, #shop-phone a{font-size: 1.3rem;}
    #titanium{padding: 30px 0;}
    #titanium-header{margin: 20px 0;}
    #titanium-img{
        transform: rotate(-90deg) scale(1.3);
        height: 50vh;
    }
    #newphoria-img{height: 55vh;}
    .card p{
        padding: 10px 0; 
        text-align: center; 
        font-size: 1.3rem;
    }
    #tour .card h1{
        text-align: left;
        padding: 5px 0;
        font-size: 2.5rem;
    }
    .card h2{
        font-size: 3rem; 
        font-weight: 600;
    }
    .row{flex-direction: row;}
    .row-2{flex-direction: row;}
    .power-top h1{
        font-size: 2.8rem;
        line-height: 1.2;
    }
    .power-bottom{
        background: url('../img/power.png') center/contain no-repeat;
        height: 100vh;
    }
    #tour{position: relative;}
    #tour-top{
        position: absolute;
        top: 30%; 
        left: 15%; 
        color: #fff; 
        align-items: flex-start;
    }
    #tour-top h1{font-weight: 400;}
    #tour-top .linkto{
        background-color: #fff; 
        border-radius: 30px;  
        padding: 10px 10px; 
        color: #000; 
        margin: 10px 0; 
    }
    #tour-bottom{
        height: 97vh;
        width: 94vw;
        margin: 40px 0;
        border-radius: 30px;
    }
    #which h1{
        font-size: 3rem;
        font-weight: 600;
    }
    .iphone-img{
        height: 220px;
        width: 160px;
    }
    .iphone{
        width: 20%;
    }
    .save-card{ 
        height: 500px;
        width: 330px;
        flex-grow: 1;
    }

    .section-header{
        padding: 30px;
        font-size: 3rem;
        width: 50%;
    }
    .accessories{
        flex-direction: row;
        height: 80vh;
    }
    .card-reverse{
        flex-direction: row-reverse;
    }
    .accessories-card .accessories1{
        height: 70vh;
    }
    .accessories-card .accessories2{
        height: 80vh;
        width: 50%;
    }
    .airpod-card  .airpod {
        height: 60vh;
        background-position: center;
    }
    #ios{position: relative;}
    .ios-txt{
        position: absolute;
        top: 0;
        left: 40%;
    }
    .save-card h3{font-weight: 600;}
    #save h1{
        font-size: 3rem;
    }
    
    #best{
        height: 80vh;
    }
    .best-img{
        background-position: 50% 200px;
        height: 80vh;
    }
    .best-txt{
        width: 50%;
        position: absolute;
        inset: 0;
        z-index: 1;
        margin: auto;
    }
    #an-iphone h1, #more h1, #research h1{
        font-size: 2.8rem ;
        font-weight: 600;
        padding: 30px;
        text-align: center;
    }
    #tv-music .card-2{
        width: 50%;
    }
    #research{
        padding-bottom: 20px;
    }
    #research .more-reverse{
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .research-img{
        background: url('../img/apple-research__czkoifogwkeq_large.jpg') center/ contain no-repeat;
        width: 40%;
        height: 40vh;
    }
    .text-part{
        width: 40%;
    }
    .accardion-body{
        display: inline;
    }
    label{
        border: none;
        padding: 10px 0;
    }
    #footer-accardion{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0 10px;
    }
    #footer-accardion li{
        padding: 0;
    }
}